PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://arifulislam4a0_db_user:OihDArOkqhHmi0q2@cluster0.br1v7hq.mongodb.net/?appName=Cluster0
CLIENT_BASE_URL=http://127.0.0.1:5500
ADMIN_BASE_URL=http://127.0.0.1:5501
JWT_USER_SECRET=change_this_user_secret
JWT_ADMIN_SECRET=change_this_admin_secret
JWT_EXPIRES_IN=7d
ADMIN_USERNAME=web-admin123
ADMIN_PASSWORD=a@pweb_admin5@
